<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IAdminService" type="SimpleUnity.Domain.Services.Interface.IAdminService, SimpleUnity.Domain.Services.Interface" />
    <alias alias="IBucketRepository" type="SimpleUnity.Repository.IBucketRepository, SimpleUnity.Repository" />

    <container>
      <!-- mappings for the IStorageAdminService  services -->
      <register type="IAdminService" mapTo="SimpleUnity.Domain.Services.AdminServices, SimpleUnity.Domain.Services">
        <lifetime type="HierarchicalLifetimeManager" />
      </register>
      
      <!-- mappings for the IBucketRepository  services -->
      <register type="IBucketRepository" mapTo="SimpleUnity.Repo.Impl.Sql.BucketRepository, SimpleUnity.Repo.Impl.Sql" name="SqlBucketRepository">
        <lifetime type="HierarchicalLifetimeManager" />
      </register>
      
      <register type="IBucketRepository" mapTo="SimpleUnity.Repo.Impl.Isilon.BucketRepository, SimpleUnity.Repo.Impl.Isilon" name="IsilonBucketRepository">
        <lifetime type="HierarchicalLifetimeManager" />
      </register>
      <register type="IBucketRepository" mapTo="SimpleUnity.Repo.Impl.Swift.BucketRepository, SimpleUnity.Repo.Impl.Swift" name="SwiftBucketRepository">
        <lifetime type="HierarchicalLifetimeManager" />
      </register>
      
      <!--<register type="IBucketRepository" mapTo="SimpleUnity.Domain.Services.CompositeRepository, SimpleUnity.Domain.Services">
        <lifetime type="HierarchicalLifetimeManager" />
      </register>-->
      
    </container>
  </unity>
</configuration>