<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">      
    <alias alias="IExampleManager" type="SimpleUnityDemo.IExampleManager, SimpleUnityDemo" />      
    <container>
      <register type="IExampleManager" mapTo="SimpleUnityDemo.ExampleManager, SimpleUnityDemo">
        <lifetime type="HierarchicalLifetimeManager" />  <!--Check https://msdn.microsoft.com/en-us/library/ff660872(v=pandp.20).aspx -->
      </register>
    </container>    
  </unity>
</configuration>